<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>coverImage</key>
		<string>http://img.kaiyanapp.com/ab2be577c698cc8fe4ff9f486f7fc65f.png?imageMogr2/quality/60/format/jpg</string>
		<key>title</key>
		<string>你的坚持，可能会照亮别人的一生</string>
		<key>videoSourceArr</key>
		<array>
			<dict>
				<key>name</key>
				<string>流畅</string>
				<key>size</key>
				<integer>21928211</integer>
				<key>url</key>
				<string>http://baobab.kaiyanapp.com/api/v1/playUrl?vid=115983&amp;resourceType=video&amp;editionType=low&amp;source=aliyun</string>
			</dict>
			<dict>
				<key>name</key>
				<string>标清</string>
				<key>size</key>
				<integer>47509444</integer>
				<key>url</key>
				<string>http://baobab.kaiyanapp.com/api/v1/playUrl?vid=115983&amp;resourceType=video&amp;editionType=normal&amp;source=aliyun</string>
			</dict>
			<dict>
				<key>name</key>
				<string>高清</string>
				<key>size</key>
				<integer>79863004</integer>
				<key>url</key>
				<string>http://baobab.kaiyanapp.com/api/v1/playUrl?vid=115983&amp;resourceType=video&amp;editionType=high&amp;source=aliyun</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>coverImage</key>
		<string>http://img.kaiyanapp.com/3cec7427dd2b130addca9833ca6619ef.png?imageMogr2/quality/60/format/jpg</string>
		<key>title</key>
		<string>一根红线，就能画完你的一生</string>
		<key>videoSourceArr</key>
		<array>
			<dict>
				<key>name</key>
				<string>流畅</string>
				<key>size</key>
				<integer>9884840</integer>
				<key>url</key>
				<string>http://baobab.kaiyanapp.com/api/v1/playUrl?vid=115837&amp;resourceType=video&amp;editionType=low&amp;source=aliyun</string>
			</dict>
			<dict>
				<key>name</key>
				<string>标清</string>
				<key>size</key>
				<integer>17722670</integer>
				<key>url</key>
				<string>http://baobab.kaiyanapp.com/api/v1/playUrl?vid=115837&amp;resourceType=video&amp;editionType=normal&amp;source=aliyun</string>
			</dict>
			<dict>
				<key>name</key>
				<string>高清</string>
				<key>size</key>
				<integer>27056892</integer>
				<key>url</key>
				<string>http://baobab.kaiyanapp.com/api/v1/playUrl?vid=115837&amp;resourceType=video&amp;editionType=high&amp;source=aliyun</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>coverImage</key>
		<string>http://img.kaiyanapp.com/e83f6ce3c58c7b9ca50b460a86bab774.jpeg?imageMogr2/quality/60/format/jpg</string>
		<key>title</key>
		<string>71 岁的北野武：活着，就要使劲牛逼啊！</string>
		<key>videoSourceArr</key>
		<array>
			<dict>
				<key>name</key>
				<string>流畅</string>
				<key>size</key>
				<integer>15952418</integer>
				<key>url</key>
				<string>http://baobab.kaiyanapp.com/api/v1/playUrl?vid=117213&amp;resourceType=video&amp;editionType=low&amp;source=aliyun</string>
			</dict>
			<dict>
				<key>name</key>
				<string>标清</string>
				<key>size</key>
				<integer>29335834</integer>
				<key>url</key>
				<string>http://baobab.kaiyanapp.com/api/v1/playUrl?vid=117213&amp;resourceType=video&amp;editionType=normal&amp;source=aliyun</string>
			</dict>
			<dict>
				<key>name</key>
				<string>高清</string>
				<key>size</key>
				<integer>45489672</integer>
				<key>url</key>
				<string>http://baobab.kaiyanapp.com/api/v1/playUrl?vid=117213&amp;resourceType=video&amp;editionType=high&amp;source=aliyun</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>coverImage</key>
		<string>http://img.kaiyanapp.com/54222c7bc13e7bf77b90ad104ec3174c.jpeg?imageMogr2/quality/60/format/jpg</string>
		<key>title</key>
		<string>「啪啪啪」时，你的身体反应是……</string>
		<key>videoSourceArr</key>
		<array>
			<dict>
				<key>name</key>
				<string>流畅</string>
				<key>size</key>
				<integer>6048729</integer>
				<key>url</key>
				<string>http://baobab.kaiyanapp.com/api/v1/playUrl?vid=117420&amp;resourceType=video&amp;editionType=low&amp;source=aliyun</string>
			</dict>
			<dict>
				<key>name</key>
				<string>标清</string>
				<key>size</key>
				<integer>10762587</integer>
				<key>url</key>
				<string>http://baobab.kaiyanapp.com/api/v1/playUrl?vid=117420&amp;resourceType=video&amp;editionType=normal&amp;source=aliyun</string>
			</dict>
			<dict>
				<key>name</key>
				<string>高清</string>
				<key>size</key>
				<integer>16328424</integer>
				<key>url</key>
				<string>http://baobab.kaiyanapp.com/api/v1/playUrl?vid=117420&amp;resourceType=video&amp;editionType=high&amp;source=aliyun</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>coverImage</key>
		<string>http://img.kaiyanapp.com/c0d9c46056226d7dc37d15a3644f23a9.png?imageMogr2/quality/60/format/jpg</string>
		<key>title</key>
		<string>脑洞创意短片：你没看过的「字母」</string>
		<key>videoSourceArr</key>
		<array>
			<dict>
				<key>name</key>
				<string>流畅</string>
				<key>size</key>
				<integer>3283882</integer>
				<key>url</key>
				<string>http://baobab.kaiyanapp.com/api/v1/playUrl?vid=112846&amp;resourceType=video&amp;editionType=low&amp;source=aliyun</string>
			</dict>
			<dict>
				<key>name</key>
				<string>标清</string>
				<key>size</key>
				<integer>4427288</integer>
				<key>url</key>
				<string>http://baobab.kaiyanapp.com/api/v1/playUrl?vid=112846&amp;resourceType=video&amp;editionType=normal&amp;source=aliyun</string>
			</dict>
			<dict>
				<key>name</key>
				<string>高清</string>
				<key>size</key>
				<integer>5939545</integer>
				<key>url</key>
				<string>http://baobab.kaiyanapp.com/api/v1/playUrl?vid=112846&amp;resourceType=video&amp;editionType=high&amp;source=aliyun</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>coverImage</key>
		<string>http://img.kaiyanapp.com/8aadb1a870710d5ecefab2147f2cf954.png?imageMogr2/quality/60/format/jpg</string>
		<key>title</key>
		<string>人生那么长，不能好好活着吗？</string>
		<key>videoSourceArr</key>
		<array>
			<dict>
				<key>name</key>
				<string>流畅</string>
				<key>size</key>
				<integer>7613078</integer>
				<key>url</key>
				<string>http://baobab.kaiyanapp.com/api/v1/playUrl?vid=115090&amp;resourceType=video&amp;editionType=low&amp;source=aliyun</string>
			</dict>
			<dict>
				<key>name</key>
				<string>标清</string>
				<key>size</key>
				<integer>12991168</integer>
				<key>url</key>
				<string>http://baobab.kaiyanapp.com/api/v1/playUrl?vid=115090&amp;resourceType=video&amp;editionType=normal&amp;source=aliyun</string>
			</dict>
			<dict>
				<key>name</key>
				<string>高清</string>
				<key>size</key>
				<integer>18745759</integer>
				<key>url</key>
				<string>http://baobab.kaiyanapp.com/api/v1/playUrl?vid=115090&amp;resourceType=video&amp;editionType=high&amp;source=aliyun</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>coverImage</key>
		<string>http://img.kaiyanapp.com/25cc29ed0d5a2d592611400a09c9818f.png?imageMogr2/quality/60/format/jpg</string>
		<key>title</key>
		<string>解锁职场谈判术，让老板都乖乖听话</string>
		<key>videoSourceArr</key>
		<array>
			<dict>
				<key>name</key>
				<string>流畅</string>
				<key>size</key>
				<integer>7534478</integer>
				<key>url</key>
				<string>http://baobab.kaiyanapp.com/api/v1/playUrl?vid=56183&amp;resourceType=video&amp;editionType=low&amp;source=aliyun</string>
			</dict>
			<dict>
				<key>name</key>
				<string>标清</string>
				<key>size</key>
				<integer>17611181</integer>
				<key>url</key>
				<string>http://baobab.kaiyanapp.com/api/v1/playUrl?vid=56183&amp;resourceType=video&amp;editionType=normal&amp;source=aliyun</string>
			</dict>
			<dict>
				<key>name</key>
				<string>高清</string>
				<key>size</key>
				<integer>30026455</integer>
				<key>url</key>
				<string>http://baobab.kaiyanapp.com/api/v1/playUrl?vid=56183&amp;resourceType=video&amp;editionType=high&amp;source=aliyun</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>coverImage</key>
		<string>http://img.kaiyanapp.com/c47afca50e79aecfe7db20ab95f3951f.png?imageMogr2/quality/60/format/jpg</string>
		<key>title</key>
		<string>原本是英雄救美，没想到半路杀出了……</string>
		<key>videoSourceArr</key>
		<array>
			<dict>
				<key>name</key>
				<string>流畅</string>
				<key>size</key>
				<integer>11693101</integer>
				<key>url</key>
				<string>http://baobab.kaiyanapp.com/api/v1/playUrl?vid=111728&amp;resourceType=video&amp;editionType=low&amp;source=aliyun</string>
			</dict>
			<dict>
				<key>name</key>
				<string>标清</string>
				<key>size</key>
				<integer>27174560</integer>
				<key>url</key>
				<string>http://baobab.kaiyanapp.com/api/v1/playUrl?vid=111728&amp;resourceType=video&amp;editionType=normal&amp;source=aliyun</string>
			</dict>
			<dict>
				<key>name</key>
				<string>高清</string>
				<key>size</key>
				<integer>46152169</integer>
				<key>url</key>
				<string>http://baobab.kaiyanapp.com/api/v1/playUrl?vid=111728&amp;resourceType=video&amp;editionType=high&amp;source=aliyun</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>coverImage</key>
		<string>http://img.kaiyanapp.com/ff41b28e9c04ed950d1dbdb21b1fa064.png?imageMogr2/quality/60/format/jpg</string>
		<key>title</key>
		<string>超现实的炫酷感！创意大神作品集锦</string>
		<key>videoSourceArr</key>
		<array>
			<dict>
				<key>name</key>
				<string>流畅</string>
				<key>size</key>
				<integer>10041945</integer>
				<key>url</key>
				<string>http://baobab.kaiyanapp.com/api/v1/playUrl?vid=117109&amp;resourceType=video&amp;editionType=low&amp;source=aliyun</string>
			</dict>
			<dict>
				<key>name</key>
				<string>标清</string>
				<key>size</key>
				<integer>25976096</integer>
				<key>url</key>
				<string>http://baobab.kaiyanapp.com/api/v1/playUrl?vid=117109&amp;resourceType=video&amp;editionType=normal&amp;source=aliyun</string>
			</dict>
			<dict>
				<key>name</key>
				<string>高清</string>
				<key>size</key>
				<integer>41720050</integer>
				<key>url</key>
				<string>http://baobab.kaiyanapp.com/api/v1/playUrl?vid=117109&amp;resourceType=video&amp;editionType=high&amp;source=aliyun</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>coverImage</key>
		<string>http://img.kaiyanapp.com/6fae1905416b2c5c5372009c59abc7d3.jpeg?imageMogr2/quality/60/format/jpg</string>
		<key>title</key>
		<string>原来世界各地有这么多「奇葩」法律</string>
		<key>videoSourceArr</key>
		<array>
			<dict>
				<key>name</key>
				<string>流畅</string>
				<key>size</key>
				<integer>11030735</integer>
				<key>url</key>
				<string>http://baobab.kaiyanapp.com/api/v1/playUrl?vid=117108&amp;resourceType=video&amp;editionType=low&amp;source=aliyun</string>
			</dict>
			<dict>
				<key>name</key>
				<string>标清</string>
				<key>size</key>
				<integer>19323039</integer>
				<key>url</key>
				<string>http://baobab.kaiyanapp.com/api/v1/playUrl?vid=117108&amp;resourceType=video&amp;editionType=normal&amp;source=aliyun</string>
			</dict>
			<dict>
				<key>name</key>
				<string>高清</string>
				<key>size</key>
				<integer>37517414</integer>
				<key>url</key>
				<string>http://baobab.kaiyanapp.com/api/v1/playUrl?vid=117108&amp;resourceType=video&amp;editionType=high&amp;source=aliyun</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
